body{
    font-family:Aerial;
    background: black;
    color:black:

}
 .welcome{
    color: blue;
    font-size: 27px;

 }
  .top span{

    color: indigo;
}
 .info{
    border:2px black;
    padding:20px;
}
b{color: white;}
img{
    width:100;
}